#application-layout_header {
  background-color: $headerColor;
  display: grid;

  grid-template-columns: 1fr 1fr;
  grid-column-gap: $headerAreaSpacing;
  grid-template-rows: 100%;
  grid-template-areas:
    "corporate user";

  padding-left: $headerSpacingLeft;
  padding-right: $headerSpacingRight;

  width: 100%;
  height: $headerHeight;

  #application-header_corporate-pictures-area {
    grid-area: corporate;

    background-color: $corporatePicturesColor;
    height: 100%;
    margin: 0;
  }

  #application-header_user-area{
    grid-area: user;

    background-color: $userAreaColor;
    height: 100%;
    margin: 0;
  }
}